/* Text */
/* Add your styling for your text here */
h1{
	color:#f9f9f9;
  text-align: center;
  font-size: 65px;
}
h2 {
	font-size: 40px;
	color:#222222;
}
p {
  color: #222222;
}
p1{
	color: #999999;
}
body{
	background-color : #eed1ee;
}
a{

  top:170px;
}
#clubpic{
	width: 350px;
  height:350px;
}
h {
  font-family: 'Century Gothic', sans-serif;
}

p, * {
    font-family: 'Open Sans', sans-serif;
}

#curiecats {
		position: absolute;
		padding-top: 300px;
		padding-left: 800px;
  	text-align: center;
}
.sm {
	margin: auto;
	padding-left: 285px;
	padding-top: 80px;

}




/* Nav bar */
/*nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 50px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    background-color: #eeeeee;
}*/
