/* Text */
/* Add your styling for your text here */
h1 {
	color:white;
  text-align: center;
}
p {
  color: #222222;
}
body{
	background-color : #ffe1ff;
}
a{

  top:170px;
}
#clubpic{

  width: 300px;
  height:300px;
}

p, * {
    font-family: 'Open Sans', sans-serif;
}
#curiecats {
   float: right;
  text-align: center;
}
/* Nav bar */
/*nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 50px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    background-color: #eeeeee;
}*/

/* Add more nav bar attributes and styling here */

/* Add scroll link attributes here */

/* Content */
/* Add some styling for your content here */
